<div class="publication-media">
    <div class="base-media">
    {% if include.media1 contains ".webm" or include.media1 contains ".mp4" %}
        <video autoplay loop muted>
            <source src="{{ include.media1 }}" type="video/webm">
            Your browser does not support the video tag.
        </video>
    {% else %}
        <img src="{{ include.media1 }}" alt="Media1">
    {% endif %}
    </div>
  {% if include.media2 %}
    <div class="overlay-media">
        {% if include.media2 contains ".webm" or include.media1 contains ".mp4" %}
            <video autoplay loop muted>
                <source src="{{ include.media2 }}" type="video/webm">
                Your browser does not support the video tag.
            </video>
        {% else %}
            <img src="{{ include.media2 }}" alt="Media2">
        {% endif %}
    </div>
  {% endif %}
</div>
